<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Session["Market"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/eng/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/eng/dist/css/adminlte.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/eng/plugins/iCheck/square/blue.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
@RenderBody()
<!-- /.login-card -->
<!-- jQuery 2.2.3 -->

<script src="~/Content/eng/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="~/Content/eng/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="~/Content/eng/plugins/iCheck/icheck.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>

@RenderSection("scripts", required: false)
</body>
</html>